# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/

# Testing
coverage/

# Turbo
.turbo
**/.turbo
.turbo/
**/.turbo/

# Cache
.cache/
.npm/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript incremental build info
*.tsbuildinfo